<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>exchange</title>
</head>
<body>
    <div class="wrap">
        <header>경기도 지역화폐 G갑</header>
        <section>
            <div class="exchangePay">
            <p class="p1">보유한 지역화폐</p>
                <select class="custom-select">
                    <option selected >수원페이</option>
                    <option value="1" selected >안양페이</option>
                    <option value="2" selected >안성페이</option>
                </select>
            <p id="exp">잔액 :<!--잔액값--> 원</p>
            </div>
            <div class="exchangePay" id="expay">
              <p class="p1">교환하려는 지역화폐</p>
              <select class="custom-select">
                  <option selected >과천페이</option>
                  <option value="1" selected >김포페이</option>
                  <option value="2" selected >화성페이</option>
                  <option value="3" selected >성남페이</option>
                  <option value="4" selected >광명페이</option>
                  <option value="5" selected >의왕페이</option>
                </select>
                <input id="exchangeMoney" type="number" 
    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" placeholder="충전할 금액을 입력해주세요."/>
            </div>
            <div class="exbtn">
                <button>교환하기</button>
            </div>
        </section>
    </div>
</body>
</html>